# Исключение скомпилированных файлов
*.o
*.obj
*.so
*.dll
*.dylib
*.exe

# Исключение временных файлов Qt Creator
*.autosave
*.user
*.user.*
*.pro.user
*.qbs.user
*.qmake.stash
*.qmake.cache

# Исключение сгенерированных файлов
moc_*.cpp
qrc_*.cpp
ui_*.h

# Исключение временных файлов сборки
build-*/
debug/
release/

# Исключение временных файлов IDE
*.log
*.swp
*.bak
*.tmp
*.temp
*.~*

# Исключение файлов CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
